body{
    background-color: black;
    color:white;
}

table { 
    table-layout:fixed;
}
td{
    border: 1px solid white;
    width: 10px;
    height: 10px;
    
}

.success{
    background-color: green;
}